<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
   

    <%- include('./partials/navBar') %>
    <div class="container ">
        <div class="row">
            <div class="col-md-5">
                <%- include('./partials/taskForm')%>    
            </div>
            <div class="col-md-7">
                <%- include('./partials/taskTable')%>
            </div>
            
        </div>

    </div>
    

    
</body>
</html>