
<nav class="navbar mt-4 mb-3">
     <div class="container">
          <a href="/" class="navbar-brand"> TODO</a>
          <a href="/" ><img src="/img/icon-sun.svg" alt=""></a>
     
     </div>
</nav>