<form action="/tasks/add" method="post">
    <div>
        <label for="title">
            Write a title
            <input type="text" name="title" placeholder="Titulo" id="title">
        </label>
    </div>
    <div>
        <label for="description">
            Description
        <textarea name="description" placeholder="Descripción" id="description"></textarea>
    </label>
    
    </div>
    <button>ADD</button>
        
</form>