
<div class="todo-nav">
    <div class="filters dark-color-theme mb-4">
       
        <p class=" align-self-center"> <%= tasksLeft.length%> Left </p>        
        <a id="clear-task" href="/deleteAll/<%=tasksDone[tasksDone._id]%>">Clear Completed</a>
   
        
    </div> 
    <div id="filter-mobile" ></div>
    
  
    
</div>
